@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  text-transform: capitalize;
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  line-height: 1.5;
  background: #F7F6F2;
  text-align: center;
  height: 100vh;
}

.mainContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 22rem;
  height: 25rem;
  margin-top: 10%;
  background: #bdc3c7; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #2c3e50,
    #bdc3c7
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  padding: 10px 0;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.palindrome {
  width: 500px;
}
header {
  margin-bottom: 10px;
}
header h1 {
  color: #fff;
  font-size: 2rem;
}
header p {
  color: #fff;
  margin-bottom: 30px;
}
.input-container {
  margin: 0 0 30px 0;
}
input {
  width: 70%;
  font-size: 1rem;
  border: none;
  background: #fff;
  padding: 15px 15px;
  border-radius: 30px;
  outline: none;
  color: rgb(66, 66, 66);
  text-transform: capitalize;
}

button {
  border: none;
  outline: none;
  padding: 10px 20px;
  border-radius: 25px;
  font-size: 0.9rem;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
button:hover {
  transform: scale(1.1);
}
.output-text {
  height: 100px;
  padding: 20px;
}
.output-text p {
  font-size: 2rem;
  display: block;
  color: #fff;
}

.foot {
  margin: 40px 0;
  height: 4rem;
  background: #EEEEEE;
  display: flex;
 align-items: center;
 justify-content: center;
 font-size: 0.9rem;
 font-weight: 600;
}
